/*--------------------------------------------------------------
Copyright WEB MAGIC.
http://www.webamgic.jp/
---------------------------------------------------------------*/


body {
text-align: center;
background-color:#F5F5F5;/*全体の背景色-----------------*/
font-family: Osaka,Verdana,Arial,Helvetica,sans-serif;
font-size:12px;/*基本の文字サイズ-----------------*/
line-height:170%;
color:#444444;/*基本の文字色-----------------*/
margin-top:20px;/*コンテンツボックスを上から少し離しています-----------------*/
margin-bottom:20px;
margin-left:0;
margin-right:0;
}


h1,h2,h3 {
margin:0px;
padding:0px;
font-weight:normal;
}


/*pタグ空白消去*/
p {
margin:0px;
padding:0px;
}


/*IMGボーダー非表示*/
img  {
border: none;
vertical-align:top;
}



/*TABLEボーダー非表示*/
table  {
border:none;
}


/*IE--BRバグ回避*/
br  {
letter-spacing:normal;
}


/*ビルダー表示崩れ回避*/
br.clear{
clear:both;
padding:0px;
margin:0px;
height:0px;
line-height:0;
}


/*リスト空白消去*/
ul,ol,li  {
margin:0px;
padding:0px;
list-style:none;
}




/*ページのタイトル部分のテキストリンク-----------------*/
h2 a:link       {text-decoration:none;color:#444444;} /*メニュー・テキストリンクの色*/
h2 a:visited    {text-decoration:none;color:#444444;} /*メニュー・訪問済みのリンクの色*/
h2 a:active     {text-decoration:underline;color:#444444;} /*メニュー・クリック時のリンクの色*/
h2 a:hover      {text-decoration:underline;color:#444444;} /*メニュー・マウス上にカーソルがある時のリンク色*/



/*普通のテキストリンク-----------------*/
a:link    {text-decoration:underline;color:#005D90;}  /*テキストリンクの色*/
a:visited {text-decoration:underline;color:#005D90;}  /*訪問済みのリンクの色*/ 
a:active  {text-decoration:underline;color:#005D90;}   /*クリック時のリンクの色*/
a:hover   {text-decoration:underline;color:#005D90;}  /*マウスの上にカーソルがあるときのリンクの色*/



/*左メニューのテキストリンク-----------------*/
/*#menu a:link    {text-decoration:none;color:#444444;}*/  /*テキストリンクの色*/
/*#menu a:visited {text-decoration:none;color:#444444;}*/  /*訪問済みのリンクの色*/ 
#menu a:active  {text-decoration:underline;color:#005D90;}   /*クリック時のリンクの色*/
#menu a:hover   {text-decoration:underline;color:#005D90;}  /*マウスの上にカーソルがあるときのリンクの色*/




#container{
width:950px;
margin:0 auto;
padding:0;
text-align:left;
}



/*タイトル上のSEOテキスト-----------------*/
h1{
width:804px;
text-align:left;
color:#ffffff;     /*文字の色----------*/
font-size:12px;    /*文字のサイズ----------*/
line-height:normal;
padding:6px 8px;
background-color:#004B7A; /*背景色----------*/
}




#header{
margin:0px;
position:relative;
width:820px;
}



/*サイトのタイトル文字-----------------*/
h2{
font-size:30px;     /*---文字サイズ-----------*/
color:#343434;     /*---文字色-----------*/  
float:left;
padding-top:20px;
padding-left:12px;
height:42px;
line-height:100%;
font-weight:bold;
}




/*タイトル右のテキストリンク-----------------*/
#header_link{
line-height:normal;
font-size:12px;    /*---文字サイズ-----------*/
color:#343434;    /*---文字色-----------*/
float:right;
text-align:right;
padding-top:32px;
padding-right:8px;
}





/*----コンテンツ部分（左メニューと右コンテンツを包括する外枠と背景）--------*/
#wrapper{
width:818px;
clear:both;
background-color:#FFFFFF;    /*----背景色--------*/
position:relative;
float:left;
border:#CECECE solid 1px;    /*----外枠の線の色・種類・太さ--------*/
margin-bottom:12px;
}








/*左メニュー------------------------*/
#side{
margin: 0;
padding: 0;
width:205px;
vertical-align:top;
background-color:#EEF0EF;    /*----背景色-----*/
}




#side ul{
list-style-type: none;
margin:4px;
padding: 0;
}


/*メニューのカテゴリ名部分-----------------*/
.midashi.active{
background-color:#0381AB;     /*----背景色-----*/
color:#ffffff;      /*----文字色-----*/
font-weight:bold;     /*----太文字-----*/
font-size:14px;     /*----文字サイズ-----*/
padding:6px 8px;
}

.midashi{
font-weight:bold;     /*----太文字-----*/
font-size:14px;     /*----文字サイズ-----*/
padding:6px 8px;
}


/*各メニュー点線の下線つき-----------------*/
#side li.normal{
border-bottom:1px #999999 dotted;     /*----下線の太さ、色、種類（点線）-----*/
padding:9px 7px;
}



#side li.last{
padding:9px 7px;
}



/*メニューの文字の前の●-----------------*/
.cicle{
color:#007AB8;     /*----●の色-----*/
font-size:10px;     /*----●のサイズ-----*/
font-family:"ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
padding-right:3px;
}


/*バナー部分-----------------*/
.ad{
text-align:center;
margin-bottom:20px;    /*バナーの下は20px空ける--------------*/
}




#main{
float:right;
width:568px;
vertical-align:top;
}



.contents{
margin:0px 12px 20px 12px;
}



.text{
margin:2px 2px 30px 2px;
line-height:170%;
}



/*----コンテンツ部分の中のミニタイトル部分--------*/
h3 {
font-family:"ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
margin-bottom:20px;
padding:5px 7px;
font-weight:bold;
font-size:14px;                /*----文字サイズ--------*/
background-color:#EEF0EF;      /*----背景色--------*/
border-bottom:#0173B0 solid 3px;  /*----背景色の下の線の色・線の種類・太さ--------*/
}



/*----中ページのタイトル--------*/
#page_title{
padding:8px 10px;
font-size:16px;    /*----文字サイズ--------*/
font-weight:bold;
color:#ffffff;             /*----文字色--------*/
border:#f5f5f5 double 6px; /*----枠線を二重線で--------*/
background-color:#01659E; /*----背景色--------*/
margin-bottom:20px;
}




/*----テーブル表組み左のセル--------*/
.table_item{
background-color:#f3f3f3; /*----セルの色--------*/
text-align:left;
}


/*----テーブル表組み右のセル--------*/
.table_text{
background-color:#ffffff; /*----セルの色--------*/
text-align:left;
}


/*----テーブル表組みの枠線--------*/
.waku{
background-color:#999999; /*---枠線の色--------*/
}



/*----コピーライト表記--------*/
#copyright{
clear:both;
margin:0 auto;
padding:6px 0px;
width:820px;
font-size:11px;
text-align:center;  /*---中央表示--------*/
background-color:#004B7A;  /*---背景色--------*/
color:#ffffff;   /*---文字色--------*/
}



.space20{
margin-bottom:20px;
}
